body {
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.header {
    background-color: #1F2937;
    color: white;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.neck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 50px 200px 50px 200px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    padding-bottom: 15px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.p {
    padding-bottom: 15px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
}

.tricolor {
    max-width: 500px;
}

.pictures {
    padding: 30px 200px 30px 200px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.text {
    max-width: 150px;
    color: #4d4d4d;
}

.cat {
    max-width: 150px;
    border: 4px solid #3882F6;
    border-radius: 14px;
}

.quote {
    background-color: #E5E7EB;
    padding: 70px 300px 70px 300px;
}

.content {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sign {
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}

.div {
    padding: 50px 200px 50px 200px;
}

.action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 125px 40px 125px;
    border-radius: 8px;
}

.button {
    border: 2px solid #E5E7EB;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call {
    font-size: 20px;
    font-weight: bold;
    color:#E5E7EB;
}