body {
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.header {
    background-color: #1F2937;
    color: white;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 0 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}